@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.btn {
	padding: 12px;
	width: 140px;
	color: #1f187d;
	border-radius: 5px;
	font-weight: 600;
	height: 45px;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid #1f187d;
	font-family: 'Montserrat', sans-serif;
	margin-right: 1rem;
}
.btn:hover {
	background-color: #fb6e19;
	color: #fff;
	border: 1px solid #fb6e19;
}
.btn_orange {
	background-color: #fb6e19;
	color: #fff;
	border: 1px solid #fb6e19;
	padding: 12px;
	width: 140px;
	border-radius: 5px;
	font-weight: 600;
	height: 45px;
	cursor: pointer;

	font-family: 'Montserrat', sans-serif;
}
.ham {
	display: none;
	cursor: pointer;
}
.hero {
	display: flex;
	margin-top: 3rem;
	padding: 1rem 2rem;
	font-family: 'Montserrat', sans-serif;
}
.img {
	width: 792px;
	height: 492px;
}
.heroHeader {
	font-size: 34px;
	font-weight: 700;
	color: #1f187d;
	line-height: 43.88px;
}
.sub {
	font-weight: 500;
	color: #1f187d;
	font-size: 17px;
	line-height: 30px;
	margin-bottom: 4rem;
}
.pls {
	display: inline;
	color: #1f187d;
	font-size: 17px;
	font-weight: 600;
}
.card {
	width: 380px;
	height: 275px;
	background: #ffbb1d;
	border-radius: 20px;
	padding: 0.2rem;
}
.quest {
	font-family: 'Inter';
	font-weight: 800;
	font-size: 50px;
	width: 290px;
	height: 100px !important;
	/* line-height: 77px; */
	background: linear-gradient(270deg, #fff2d3 -9.3%, #ffbb1d 120.93%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-emphasis-color: transparent;
	text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
	margin-left: auto;
	margin-right: auto;
}
.btn_get {
	margin-bottom: 34px;
	margin-left: 115px;
	margin-right: 115px;
	background: #ffbb1d;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 140px;
	height: 32px;
	padding: 4px 16px 4px 16px;
}
.features {
	background: #f8f8ff;
	padding: 3rem 1rem;
	border-radius: 20px;
	/* height: 386px !important; */
	margin: 3rem 2rem;
}

@media screen and (max-width: 768px) {
	.linkWrapper {
		display: none;
	}
	.wrapper {
		flex-direction: column;
		position: absolute;
		top: 5rem;
		left: 0;
		justify-content: center;

		width: 100%;
		background-color: #fff;
		padding: 3rem 0;
	}
	.linkWrapper {
		margin-right: 50%;
		margin-left: 50%;
	}
	.linkWrapper ul {
		flex-direction: column;
	}
	.linkWrapper ul li {
		margin-left: 0;
		margin-bottom: 1rem;
	}
	.btn {
		display: block;
	}
	.btn_orange {
		margin-left: 0;
		margin-top: 1.1rem;
	}
	.btn_wrapper {
		display: none;
	}
	.show {
		display: block;
	}

	.ham {
		display: block;
		cursor: pointer;
	}
	.hero {
		flex-direction: column;
	}
	.heroImgWrapper {
		order: 1;
	}
	.heroTextWrapper {
		order: 2;
	}
	.img {
		width: 100%;
	}
}
